.cardCar {
  width: 274px;
  height: 426px;
}

.thumb {
  position: relative;
  width: 274px;
  height: 268px;
  border-radius: 14px;
  background: linear-gradient(
      180deg,
      rgba(18, 20, 23, 0.5) 2.5%,
      rgba(18, 20, 23, 0) 41.07%
    ),
    #f3f3f2;
}

.iconOutline {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 18px;
  height: 18px;
  color: rgba(255, 255, 255, 0.8);
}

.iconFill {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 18px;
  height: 18px;
  color: rgba(52, 112, 255, 1);
}

.thumb > img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 14px;
}

.button {
  width: 100%;
}
